*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

.steps{
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 10px;
    margin: auto;
    transform: translateY(120px);
    .step{
        width: 95%;
        height: auto;
        min-height: 100px;
        padding: 8px;
        margin-block: 10px;
        border-radius: 10px;
        background: white;
        span{
            background: rgba(120,120,120,0.05);
        }
        pre{
            margin-left: 0;
            padding-left: 0;
            text-align: left;
            overflow: hidden;
        }
        &:first-child{
            margin-top: 0;
        }
    }
}