{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deploy steps -- Django Nginx Gunicorn</title>
    <base href="/">
    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'scss/base.css' %}">

    
</head>
<body ontouchstart="" >
  <div class="steps">
    <div class="step">

      
      <h1>PostgreSQL setup</h1>
      <hr>
      <span>Log into an interactive Postgres session by typing:</span>
      <br>
      <br>
      sudo -u postgres psql
      <hr>
      CREATE DATABASE myproject;
      <hr>
      CREATE USER myprojectuser WITH PASSWORD 'password';
      <hr>
      ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
      ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
      ALTER ROLE myprojectuser SET timezone TO 'UTC';
      <hr>
      GRANT ALL PRIVILEGES ON DATABASE myproject TO myprojectuser;
      <hr>
      \q
      <hr>
      <span>Go into settings.py, and paste this</span>
      <br>
      <br>
      <pre>
DATABASES = {
  'default': {
      'ENGINE': 'django.db.backends.postgresql',
      'NAME': 'myproject',
      'USER': 'myprojectuser',
      'PASSWORD': 'password',
      'HOST': 'localhost',
      'PORT': '',
  }
}
      </pre>
      <hr>
      cd /webapps/bogdan/GIT_REPO
      <br>
      <br>
      python manage.py makemigrations
      <br>
      <br>
      python manage.py migrate
      <hr>
      sudo ufw allow 8000
      <hr>
      <span>Test if it worked</span>
      <br>
      <br>
      python3 manage.py runserver 188.166.110.10:8001
      <hr>
      sudo systemctl daemon-reload
      <br>
      <br>
      sudo systemctl restart GIT_REPO
      <br>
      <br>
      sudo systemctl restart nginx
      <hr>

      <br>
      <br>

      <h1>Setup Django, Nginx and Gunicorn</h1>
      <hr>
      cd /webapps/bogdan
      <hr>
      git clone GIT_REPO_URL
      <hr>
      sudo chown -R bogdan:webapps .
      <hr>
      cd GIT_REPO
      <hr>
      <span>
        If needed:
        <br>
        cd ..
        <br>
        pip install -r GIT_REPO/req.txt
      </span>
      <hr>
      python3 manage.py runserver 188.166.110.10:8001
      <br>
      <br>
      <span>
        Check for errors and fix them
      </span>
      <hr>
      cd /etc/systemd/system
      <hr>
      sudo nano GIT_REPO.socket
      <hr>
      <pre>
[Unit]
Description=GIT_REPO socket

[Socket]
ListenStream=/run/GIT_REPO.sock

[Install]
WantedBy=sockets.target
      </pre>
      <hr>
      sudo nano GIT_REPO.service
      <hr>
      <pre>
[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=bogdan
Group=webapps
WorkingDirectory=/webapps/bogdan/GIT_REPO
ExecStart=/webapps/bogdan/env/bin/gunicorn \
        --access-logfile - \
        --workers 3 \
        --bind unix:/run/GIT_REPO.sock \
        demo.wsgi:application

[Install]
WantedBy=multi-user.target
      </pre>
      <hr>
      sudo systemctl start GIT_REPO.socket
      <br>
      <br>
      sudo systemctl start GIT_REPO.service
      <hr>
      sudo systemctl enable GIT_REPO.socket
      <br>
      <br>
      sudo systemctl enable GIT_REPO.service
      <hr>
      sudo systemctl status GIT_REPO <span style="margin-left: 20px;">// Gunicorn service </span>
      <br>
      <br>
      sudo systemctl status GIT_REPO.socket
      <hr>
      sudo systemctl daemon-reload
      <br>
      <br>
      sudo systemctl restart GIT_REPO <span style="margin-left: 20px;">// Gunicorn service </span>
      <br>
      <br>
      sudo systemctl restart GIT_REPO.socket
      <hr>
      cd /etc/nginx/sites-available
      <br>
      <br>
      sudo nano GIT_REPO
      <hr>
      <pre>
server {
  server_name domain.com www.domain.com;

  location = /favicon.ico { access_log off; log_not_found off; }

  location / {
      include proxy_params;
      proxy_pass http://unix:/run/GIT_REPO.sock;
  }

  location  /static/ {
      alias /webapps/bogdan/GIT_REPO/static;
  }

  location  /media/ {
      alias /webapps/bogdan/GIT_REPO/media;
  }
}
    </pre>
      <hr>
      sudo ln -s /etc/nginx/sites-available/GIT_REPO /etc/nginx/sites-enabled
      <hr>
      <span>Check for errors:</span>
      <br>
      <br>
      sudo nginx -t
      <br>
      <br>
      <span>Fix errors, then run</span>
      <br>
      <br>
      sudo systemctl restart nginx
      <hr>
      sudo systemctl status nginx
      <hr>
      <span>If errors, fix them before continue, then run</span>
      <br>
      <br>
      sudo nginx -s reload
      <hr>
      <span>Check that sites-enabled has the nginx file</span>
      <br>
      <br>
      cd /etc/nginx/sites-enabled
      <br>
      <br>
      ls
      <hr>
      <span>Make sure domain is 100% correct</span>
      <br>
      <li>DNS</li>
      <li>Nginx file - make sure domain is correct</li>
      <hr>
      sudo certbot --nginx -d domain.com -d www.domain.com
      <hr>
      sudo certbot renew --dry-run
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</body>
</html>